body{
  width: 100%;
}

#intro{
  margin: 10px;
}

.modelButton {
  background-color: #4CAF50;
  border: 1px solid green;
  color: white; 
  padding: 10px 24px;
  cursor: pointer; 
  float: left; 
}

/* 
.btn-group button:not(:last-child) {
  border-right: none; 
} */

/* Clear floats (clearfix hack) */
.modelMenu:after {
  content: "";
  clear: both;
  display: table;
}

.modelMenu button:hover {
  background-color: #3e8e41;
}