body {
  width: 100%;
}

#intro {
  margin: 10px;
}

#buttonMenu {
  display: flex;
  margin-left: 30%;
}

.modelMenu {
  display: flex;
  margin-bottom: 3px;
}

#projectTitle {
  font-size: 30px;
  margin-left: 25%;
}

.modelButton {
  background-color: rgb(27, 66, 110);
  border: 1px solid #ffffff;
  border-radius: 20px;
  ;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

.modelMenu button:hover {
  background-color: rgb(49, 116, 192);
}

#options {
  margin: 5px;
}

#reset {
  background-color: #0d5243;
  border: 1px solid #000;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
}

#reset:hover {
  background-color: #1ba386;
}

.text {
  padding-top: 15px;
  margin-right: 10px;
}


#scene {
  width: 50%;
  height: 400px;
}

#disclaimer {
  margin-left: 25%;
}

#wireframe {
  margin-left: 50px;
}

label {
  margin-left: 10px;
  margin-top: 8px;
}

#options {
  height: 50px;
}

#mainContainer {
  display: flex;
  margin: 5px;
}

.legend {
  width: 35px;
}

#lossLegendSVG {
  margin-left: 10px;
  height: 400px;
}

#lossLegendBar {
  width: 15px;
  height: 600px;
  fill: url(#linear_gradient_L);
  margin-left: 10px;
}

#accLegendSVG {
  margin-left: 10px;
  height: 400px;
}

#accLegendBar {
  width: 15px;
  height: 600px;
  fill: url(#linear_gradient_A);
  margin-left: 10px;
}